.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "h2 h2 h2 h2"
    ". h3 h3 h3"
    "img img img img"
    "ul ul ul ul"
    "button button button button";
  max-height: 400px;
}

h2 {
  grid-area: h2;
  margin: 0 auto;
}

h3 {
  margin: 0 0 10px 0;
  grid-area: h3;
}

img {
  grid-area: img;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

ul {
  border: 2px solid black;
  line-height: 1.5;
  margin: 0;
  padding: 0 0 0 20px;
  grid-area: ul;
  list-style: none;
  text-align: left;
}

span {
  font-weight: bold;
}

button {
  background-color: lightblue;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  margin-top: 20px;
  grid-area: button;
  min-height: 3.2rem;
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 10px rgba(0, 0, 0, 0.55);
}
